/** {
	outline:1px solid red;
}*/

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:black;
}

/*CURSOR*/
.click {
	cursor: url(https://pbs.twimg.com/media/D8Dlt30VsAA9Hhm.png) 70 30, auto;
}
/*CURSOR*/

.main {
	padding: 10px;
}

.width-50 {
	width:50%;
}

img {
	width: 50%;
}

/*LOGO ON LANDING PAGE*/
.logo {
	text-align:center;
	z-index:2;
}

.blurOut img {
	display:inline-block;
	transition:all 3s ease;
	-webkit-filter:blur(17px);
	z-index:2;
}

.blurOut img:hover {
	transition:all 1s ease;
	-webkit-filter:blur(0px);
	z-index:2;
}
/*LOGO ON LANDING PAGE*/

.video {
  display:inline-block;
  right: 0;
  bottom: 0;
  width:100vw;
  height:100vh;
  z-index:-1;
}