.yourlink a {
	text-decoration:underline;
	opacity:0.5;
}

.yourlink a:hover {
	opacity:1;
	cursor:url(https://pbs.twimg.com/media/D82XIhwUcAAt9Q8.png)70 30,pointer;
}

.final {
	font-family: gitan-latin, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size:24px;
	margin-top:8vh;
	margin-left:20px;
	display:flex;
	width:43vw;
	line-height:;
	text-transform:uppercase;
	opacity:0.5;
	transition:1s;
}

.final:hover {
	opacity:1;
	transition:1s;
}

/*
.bold {
	font-weight: 800;
}*/